/* CSS DOCUMENT */

body {
    background-color: aliceblue;
}
h1 {
   color: darkslategray; 
font-size: 3em;
    margin: 1em 2em 0em 0.5em;
    font-family: serif;
    font-weight: bold;
}
h2 {
    color: slategrey;
    font-size: 2em;
    margin: 0em 2em 1em 1.5em;
    font-family: sans-serif;
    
}
h3{
    color: steelblue;
        font-family: sans-serif;
    margin: 2em 2em 0.5em 2.5em;
    font-size: 1.5em
}

h4{
    color: darkslategrey;
    font-family: sans-serif;
    margin: 2em 2em 0.5em 3em;
}

p{
    color: slategrey;
    font-family: sans-serif;
    margin: 0em 4em 0.5em 3em;
}