/*CSS DOCUMENT*/

div.container {
    margin: auto
}

img {
        width: 100%;
}

nav ul{
    padding: 0;
    text-align: center;
}

nav ul li{
    display: inline;
    list-style-type: none;
    margin-right: 1em;
    font-family: proxima-nova, sans-serif;
font-weight: 1000;
font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

nav ul li a{
    color: #601347;
    text-decoration: none;
}

nav ul li a:hover {
    color: #D81E3B;
}
h2{
    font-family: proxima-nova, sans-serif;
font-weight: 700;
font-style: normal;
    text-align: center;
    font-size: 2.5em;
}

h3{
    font-family: proxima-nova, sans-serif;
font-weight: 600;
font-style: normal;
    text-align: center;
    margin: 3em 2em 1em 2em
}

h4{
    font-family: proxima-nova, sans-serif;
font-weight: 500;
font-style: normal;
}

p{
    font-family: proxima-nova, sans-serif;
font-weight: 400;
font-style: normal;
}

.indent{
    text-align: center;
}

.tab{
    padding: 0em 10em;
}
.padded{
    padding: 0em 3em
}
header {
background: #CCA8C2;
}

body {
    background: #CCA8C2;
}


footer {
font-family: proxima-nova, sans-serif;
font-weight: 200;
font-style: normal;
    font-size: 0.7em;
    text-align: center;
}

